extends ./layout/master

block head
  title Gerenciar Alocações
  link(rel="stylesheet", href="./styles/allocation.css")
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="https://unpkg.com/vanilla-masker@1.1.1/lib/vanilla-masker.js")

block content
  .row(id= 'divToPrint')
    .col-lg-16.grid-margin.stretch-card
      .card
        .card-body
          .d-sm-flex.justify-content-between.align-items-start
            h4.card-title Alocações
              p.card-description
                | Aqui você pode ver as alocações
            if canPrint === true
              div.btn.btn-otline-dark(onclick="print_specific_div_content()")
                i.icon-printer
                |  Print
            if canEdit === true 
              button.btn.btn-primary.btn-lg.btn-block(onclick="openModal()") Adicionar

          .table-responsive
            table.table(id="table")
              thead
                tr
                  th ID
                  th Data da criação
                  th Nome do colaborador
                  th Cargo do colaborador
                  th Nome da construção
                  th Status
                  if canEdit === true
                    th Editar
                    th Excluir
              tbody
                each allocation in allocations
                  tr
                    td= allocation.id
                    td= allocation.createdAt.toLocaleString('pt-Br').split(',')[0]
                    td= allocation.user.name
                    td= allocation.user.office
                    td= allocation.construction.name
                    td
                      if allocation.status === 'active' 
                        label.badge.badge-danger Ativa
                      else
                        label.badge.badge-info Concluída
                    if canEdit === true
                      td
                        if allocation.status == 'active'
                          button.btn.btn-warning.btn-rounded.btn-fw(type="button" onclick=`openModal(${JSON.stringify(allocation)})` data-id=allocation.id ) Editar
                      td
                        button.btn.btn-danger.btn-rounded.btn-fw(type="button" onclick=`openModalDelete({ id: ${allocation.id}, name: '${allocation.user.name}'})` data-id=allocation.id) Excluir

    #editModal.modal
      .modal-content
        h4.card-title Alocação
        form(id="editUserForm")
          input(type="hidden", id="id", name="id")
          input(type="hidden", id="createdAt", name="createdAt")

          .form-group
            label(for="usersSelect") Colaboradores:
            select.form-control(id="usersSelect")
              option(value=0)
              for user in users
                option(value=user.id)= user.name

          .form-group
            label(for="constructionSelect") Construções:
            select.form-control(id="constructionSelect")
              option(value=0)
              for construction in constructions
                if construction.status === 'active'
                  option(value=construction.id)= construction.name
              
          .form-group
            label(for="status") Status:
            select.form-control(id="statusSelect")
              option(value='active') Ativa

          .form-group
            button.btn.btn-primary.me-2(type="button" onclick='requestModal()') Salvar
            button.btn.btn-light(onclick='closeModal()') Cancelar
            label(id="errorMessage", style="display: none; color: red;")

    #deleteModal.modal
      .modal-content
        h4.card-title Confirmar Exclusão
        h4.card-title Tem certeza de que deseja excluir essa alocação?
          .form-group
              input.form-control(type="text", id="idDelete", name="idDelete", readonly)
          .form-group
              input.form-control(type="text", id="nameDelete", name="nameDelete", readonly)

          .form-group
            button.btn.btn-danger.btn-rounded.btn-fw.deleteBtn(onclick='deleteModalRequest()') Excluir
            button.btn.btn-light(onclick='closeModalDelete()') Cancelar
            label(id="errorMessageDelete", style="display: none; color: red;")

    #informationModal.modal
      .modal-content
        h4.card-title Informação:
        label(id="message", style="display: none; color: red;")
        label(id="messageP", style="display: none; color: green;")
        button.btn.btn-light(onclick="reload()") Fechar

    script(src="./javascript/allocation.js")