extends ./layout/master

block head
  title Relatório
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="https://unpkg.com/vanilla-masker@1.1.1/lib/vanilla-masker.js")

  link(rel='stylesheet' href='/vendors/ti-icons/css/themify-icons.css')
  link(rel='stylesheet' href='/vendors/css/vendor.bundle.base.css')
  link(rel='stylesheet' href='/vendors/codemirror/codemirror.css')
  link(rel='stylesheet' href='/vendors/codemirror/ambiance.css')
  link(rel='stylesheet' href='/vendors/pwstabs/jquery.pwstabs.min.css')
  link(rel='stylesheet' href='/css/vertical-layout-light/style.css')

block content
    .row(id= 'divToPrint')
      .col-lg-16.grid-margin.stretch-card
        .card
          .card-body
            .d-sm-flex.justify-content-between.align-items-start
              h3.mb-4 Relatório
              div.btn.btn-otline-dark(onclick="print_specific_div_content()")
                i.icon-printer
                |  Print
            if report
              p
                | Aqui você pode visualizar as informações do relatório:
              hr
              h4.mb-4=`👤 Usuário: ${report.user.name} - ${report.user.office}`
              h4.mb-4=`📆 Data da criação do relatório: ${report.createdAt.toLocaleString('pt-Br').split(',')[0]}`
              h4.mb-4=`🚧 Construção: ${report.construction.name}`
              h4.mb-4=`🔸 Status: ${report.isValided ? 'Sim' : 'Não'}`
              hr
              .pws_none.pws_tabs_container.pws_tabs_horizontal.pws_tabs_horizontal_top.pws_tabs_noeffect
                ul.pws_tabs_controll
                  li
                    a.pws_tab_active(data-tab-id='vertical light') Descrição:
                .demo-tabs.pws_tabs_list
                  .pws_hide.pws_tab_single.pws_show(data-pws-tab='vertical light' data-pws-tab-name='Vertical light' data-pws-tab-id='1' style='')
                    p.mb-5=report.description
              .alert.alert-success.mt-4.d-flex.align-items-center(role='alert')
                i.ti-info-alt
                p
                  | Relatórios são documentos fiscais cruciais para empresas. Sua divulgação incorreta pode levar a decisões errôneas, problemas de conformidade e vazamento de informações sensíveis, afetando a saúde financeira e a reputação da organização.
            else
              p
                | Relatório indisponível